 #sidebar {
     background-color: #2A3F54;
     width: 13.8%;
     min-width: 200px;
     color: white;
     padding-top: 150px;
 }

 .sidebar-item {
     display: flex;
     flex-direction: row;
     padding: 20px;
     padding-left: 30px;
     cursor: pointer;
     transition: background-color .1s linear;
 }

 .sidebar-item:hover {
     background: rgba(255, 255, 255, 0.05);
 }

 .sidebar-item.active {
     background: rgba(255, 255, 255, 0.08);
 }

 .sidebar-item-label {
     margin-left: 15px;
     color: rgba(255, 255, 255, 0.6);
     font-size: large;
 }

 #header {
     background: #EDEDED;
     min-height: 60px;
     padding: 20px;
     box-sizing: border-box;
     padding-right: 80px;
 }

 #header-text {
     margin-left: auto;
     margin-right: 10px;
     font-size: large;
 }

 #main-container {
     flex: 1;
     background: #F7F7F7;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     max-height: calc(100vh - 60px);
     gap: 10px;
 }

 #main {
     flex: 1;
     background: white;
     overflow: auto;
 }

 #main-header {
     border-bottom: 2px solid #EDEDED;
     padding: 20px 30px;
     gap: 15px;
     height: 70px;
     box-sizing: border-box;
     align-items: center;
 }

 #search-bar {
     flex: 1;
     border: none;
     outline: none;
     font-family: inherit;
     font-size: large;
 }

 #grid {
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
     grid-gap: 20px;
 }

 .product {
     position: relative;
     display: flex;
     flex-direction: column;
     border-radius: 5px;
     border: 1px solid #EDEDED;
     cursor: pointer;
     overflow: hidden;
 }

 .product:hover {
     text-decoration: underline;
 }

 .product:active {
     border-color: transparent;
 }

 .product>.overlay:hover {
     background-color: #F6F6F680;
 }

 .product>.overlay:active {
     background-color: rgba(0, 0, 0, 0.15);
     transition: background-color .1s linear;
 }

 .product-img {
     background: #F6F6F6;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     height: 130px;
     object-fit: cover;
 }

 .product-info {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px;
 }

 .product-name {
     font-weight: bold;
 }

 .product-price {
     font-size: small;
 }

 #checkout-panel {
     width: 27.6%;
     min-width: 400px;
     background: white;
 }

 #cart-header {
     border-bottom: 2px solid #EDEDED;
     padding: 20px;
     font-size: large;
     height: 70px;
     box-sizing: border-box;
 }

 #cart {
     flex: 1;
     padding: 20px 5px;
     overflow-y: auto;
 }

 .cart-item {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 20px 15px;
 }

 .cart-item.active {
     border: 1px solid #F6F6F6;
     border-radius: 5px;
 }

 .cart-item .product-price {
     color: #616161;
 }

 .cart-quantity-btn {
     background: #F7F7F7;
     border: none;
     font-size: large;
     outline: none;
     min-width: 23px;
 }

 .cart-quantity {
     font-weight: bold;
     margin-left: 10px;
     margin-right: 10px;
 }

 #checkout-details-header {
     border-bottom: 2px solid #EDEDED;
     padding: 5px 20px 10px 20px;
     font-size: smaller;
     font-weight: bold;
     color: #616161;
     box-sizing: border-box;
 }

 #checkout-details {
     color: #616161;
     padding: 15px;
     padding-bottom: 0;
     font-size: medium;
 }

 #checkout-btn {
     background: #575757;
     border-radius: 5px;
     color: white;
     border: none;
     outline: none;
     font-family: inherit;
     font-size: large;
     padding: 20px;
     margin: 40px 0;
 }