.modal-header {
    padding: 20px 2rem;
}

.modal-title {
    font-weight: bold;
}

.order-number {
    color: #454545b3;
}

.modal-footer {
    justify-content: stretch;
    padding-left: 2rem;
    padding-right: 2rem;
}

table {
    margin: 0 2rem;
}

table tr td:last-of-type {
    text-align: right;
}

.cart-item {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.cart-item>.name {
    font-weight: bold;
}

.cart-item>.price {
    font-size: small;
    color: #616161;
}

.quantity, .cart .total {
    color: #616161;
}

.total-price {
    margin-left: auto;
    font-weight: bold;
}

.subtotals {
    margin: 0 1.5rem;
    border-top: 2px solid #F3F3F3;
}

.subtotals td {
    padding: 5px 0.5rem;
}

.subtotals tfoot {
    border-top: 2px solid #F3F3F3;
    border-bottom: 2px solid #F3F3F3;
    font-size: large;
}

.subtotals tfoot td {
    padding: 20px 0.5rem;
}