@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

button, .btn {
    cursor: pointer;
    transition: all .1s linear;
}

.btn-light {
    background: white;
    border: none;
    outline: none;
    line-height: 0;
    padding: 5px;
    border-radius: 3px;
}

.btn-light.active {
    background-color: #E6E6E6;
}

button:hover, .btn:hover {
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.15);
}

button.dark:hover, .btn.dark:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.25);
}

button:active, btn:active {
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.25);
}

button.dark:active, .btn.dark:active {
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.25);
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.text-secondary {
    color: #A4A4A4;
}